<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/d7840b5476.js" crossorigin="anonymous"></script>
    <!--FAVICON  -->
    <link rel="icon" href="/img/icons8-box-64.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="/index.html">Cargo Box</a>
            <nav>
                <a href="/templates/registro.html">Cuenta</a>
                <a href="/templates/cotizacion.html">Cotizacion</a>
                <a href="/templates/contact.html">Contacto</a>
            </nav>
        </div>
    </header>
    <section id="hero-service">
        <h1>Realizá tus envíos y hasta cualquier punto del país</h1>
    
    </section>
    <section id="pro-service">
        <div class="container">
            <div class="img-container"></div>
            <div class="texto">
                <h2>SERVICIOS</h2>
                <p>Cargo Box te ofrece una amplia gama de servicios postales de manera rápida y segura. Realizá tus
                    envíos y hasta cualquier punto del país..</p>
                <h3>PERSONAS</h3>
                <p>Cada persona es única, al igual que su motivo y encomienda. Por eso en Cargo Box ofrecemos diferentes
                    servicios que le proporcionan al usuario soluciones personalizadas. Sea lo que sea que tengas que
                    enviar nosotros podemos encargarnos. Entendemos la importancia o el valor afectivo que pueden tener
                    tus envíos. Ofrecemos un servicio personalizado, confiable y seguro, mediante una extensa red a lo
                    largo de todo el país.</p>
                <h3>EMPRENDEDORES Y PYMES</h3>
                <p>En Vía Cargo nos gusta verlos crecer y alcanzar sus objetivos. Por este motivo nos complace trabajar
                    a su lado desde esta primer etapa, con el compromiso de brindarles un servicio seguro y responsable
                    que les permita enviar mercadería de gran volumen con protección garantizada y, además, crear un
                    vínculo fuerte, directo y de confianza con su cliente. Simplificamos tu día a día para que puedas
                    dedicarte a lo importante, para que puedas hacer crecer tus negocios.</p>
                <h3>CORPORATIVO</h3>
                <p>En Vía Cargo sabemos que es necesario cumplir con los tiempos de entrega previstos para preservar la
                    confianza y credibilidad de los clientes. Por consecuencia, brindamos un servicio corporativo con
                    una amplia gama de soluciones logísticas con foco en la puntualidad de la encomienda para lograr
                    dichos objetivos.</p>
                <h3>TRANSPORTE DE CAUDALES</h3>
                <p>Sección 3. Punto 3.2. Comunicación B.C.R.A. "A" 6218 y complementarias. <br>
                   La variación entre el mínimo y máximo publicado depende de factores objetivos de cada servicio a
                    contratar.
                    Pueden existir ciertos elementos no contemplados en el presente y que serán informados y cotizados al
                    momento de contratar el servicio:</p>
                <ol>
                    <li>El volumen de los valores a transportar</li>
                    <li>El nivel de seguridad de los puntos de carga y descarga</li>
                    <li>Elementos que puedan utilizarse para la carga y descarga del material transportado</li>
                    <li> La cantidad de destinos en los que se deba recaudar y/o entregar por cada cliente, así como la
                        distancia geográfica a recorrer.</li>
                    <li>Los impuestos de cada jurisdicción en la que corresponda tributar.</li>
                </ol>

            </div>
        </div>
    </section>
    <footer>
        <div class="footer-links">
            <div class="footer-container">
                <ul>
                    <li>
                        <a href="#">
                            <h4>NUESTRA COMPAÑÍA</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">Acerca de Cargo Box</a>
                    </li>
                    <li>
                        <a href="#">Nuestro Portafolio</a>
                    </li>
                    <li>
                        <a href="#">Relacion con los inversores</a>
                    </li>
                    <li>
                        <a href="#">Empleos</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <h4>CONSEJOS</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">Tips para embalar</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <h4>PRODUCTOS</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">CB Personal</a>
                    </li>
                    <li>
                        <a href="#">CB Standard</a>
                    </li>
                    <li>
                        <a href="#">CB Plus</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <h4>MÁS SOBRE CARGO</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">Cargo Developer Portal</a>
                    </li>
                    <li>
                        <a href="#">Cargo Compatible</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copy">
            <h3>&copy; Cargo Box 2024</h3>
        </div>
    </footer>

</body>

</html>